:root {
    --vp-c-brand-1: #4f46e5;
    --vp-c-brand-2: #6366f1;
    --vp-c-brand-3: #4338ca;
    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: -webkit-linear-gradient(
        120deg,
        #6366f1 30%,
        #4f46e5
    );
}
